@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	justify-content: center;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

#container-index{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 5%;
	margin-left: 2%;
	margin-right: 2%;
}

.norway-link, .italy-link, .croatia-link, .japan-link{
	width: 300px;
	box-shadow: 3px 6px 13px 1px rgba(0,0,0,0.5)
}
.norway-link:hover, .italy-link:hover, .croatia-link:hover, .japan-link:hover{
	transition: .3s;
	box-shadow: 0px 6px 13px 1px rgba(0,0,0,4), 0px 20px 28px 12px rgba(0, 0, 0, 0.19);
}

.logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top:2%;
}

.footer-index{

	margin-top: 2.7%;
	color: white;
}
body{
	background-color:#2C2C2C ;
}