.container__content__item {
    color: antiquewhite;
    margin: 0.5em;
    width: fit-content;
}
.container__content__item:hover{
    font-weight: bold;
}
.container__content__item:hover .item-desc {
    max-height: 65%;
    overflow: hidden;
    font-weight: normal;
    display: inline-block;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid white;
    position: absolute;
    padding: 0.5em;
    left: 20%;
    bottom: 30%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    width: 60%;
}
.item-desc {
    display: none;
}