@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import "landmarks.css";
@import "cities.css";
@import "citizens.css";


/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: white;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.container {
	display: flex;
	text-align: left;
	flex-direction: row;
}
.container__images {
	max-width: 300px;
	height: auto;
}
section {
	display: flex;
	flex-direction: column;
}
.nav__bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}