@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import "landmarks.css";
@import "cities.css";
@import "citizens.css";
@import "../index.css";


/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.country{
	justify-content: center;
}
.country__img{
	width: 400px;
	box-shadow: 5px 8px 16px 0px rgba(0,0,0,0.2);
}

body{
	text-align: center;
	justify-content: center;
}
nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	margin-top: 30px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-between;
	margin: 35px;
}
  header{
	  border-radius: 5px;
	  border: 2px inset black;
	  box-shadow: 5px 8px 16px 3px rgba(0,0,0,0.2);
	  background: linear-gradient(to bottom, #ffff99 0%, #ffcc66 100%);
  }
  .disabled{
	  text-decoration: line-through;
  }
  .dropdown{
	  text-align: center;
  }
body{
	background-image: url("https://images.freeimages.com/images/large-previews/625/light-house-on-a-skerry-1056846.jpg");
}
.copyright{
	color: white;
}
.index{
	background: url("https://wallpapercave.com/wp/yE9vEkD.jpg");
	background-size: cover;
}
.img-link{
	display: flex;
	flex-direction: column;
}
.adriatic-link{
	width: 95px;
	/* border: 2px solid green; */
	position: absolute;
	bottom: 52%;
	right: 46.5%;
}
.norway-link{
	width: 80px;
	/* border: 2px solid red; */
	position: absolute;
	bottom: 71.3%;
	right: 48%;
}
.japan-link{
	width: 65px;
	/* border: 2px solid blue; */
	position: absolute;
	bottom: 50.4%;
	right: 16.3%;
}

