@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import "landmarks.css";
@import "cities.css";
@import "citizens.css";
@import "../index.css";


/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
<<<<<<< HEAD
	color: white;
=======
	background-color: #2c2c2c;
	color: #e4e4e4;
>>>>>>> master
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	width: 90%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

a {
	font-weight: bold;
	text-decoration-line: none;
	color: antiquewhite;
	padding: inherit;
}

a:hover {
	background-color: #525252;
	border-radius: 15px;
}

.country-link {
	padding: 1em;
}

.current-page {
	font-weight: bold;
	color: aquamarine;
	padding: 1em;
}

.current-page:hover {
	background-color: #525252;
	border-radius: 15px;
}

header {
	text-align: center;
	font-size: 32px;
}

nav {
	border: 2px solid black;
	border-left: none;
	border-right: none;
	border-radius: 10px;
	padding: 2em;
	width: 90%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.country-img {
	width: 100%;
	border: 1px solid aliceblue;
}

.container {
	display: flex;
<<<<<<< HEAD
	text-align: left;
	flex-direction: row;
}
.container__images {
	max-width: 300px;
	height: auto;
}
section {
	display: flex;
	flex-direction: column;
}
.nav__bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
=======
	justify-content: space-between;
}

footer {
	border: 2px solid black;
	border-left: none;
	border-right: none;
	text-align: center;
	padding: 1em;
	margin: 0 auto 1em auto;
	margin-top: 2em;
	width: 90%;

}

.container__content {
	background-color: #525252;
	border: 3px solid black;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    border-radius: 15px;
    padding: 2em;
	margin: 0.5em 1em;
	width: 100%;
}

.container__content__item {
	color: antiquewhite;
	margin: 0.5em;
	width: fit-content;
}

.container__content__item:hover{
	font-weight: bold;
}
.container__content__item:hover .item-desc {
	font-weight: normal;
	display: inline-block;
	background-color: rgba(0,0,0,0.8);
	border: 1px solid white;
	position: absolute;
	padding: 0.5em;
	left: 20%;
	bottom: 30%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
	width: 60%;
}

.container__content__image {
	max-height: 30%;
	max-width: 30%;
	width: 50%;
	display: block;
	margin: 0 auto;
}

.item-desc {
	display: none;
>>>>>>> master
}